.cart {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: pxToEm(135px);
    @include breakpoint(mobile) {
      padding: pxToEm(8px);
      width: pxToEm(120px);
    }
    img {
      width: 35px;
      @include breakpoint(mobile) {
        width: 25px;
      }
    }
    span {
      margin-left: pxToEm(8px);
      @include breakpoint(mobile) {
        font-size: $font-size-small;
      }
    }
  }
}

.case-study {
  .show {
    .modal-dialog {
      min-width: 650px;
      position: absolute;
      right: 10%;
      top: 60px;
      @include breakpoint(mobile) {
        width: 100%;
        min-width: unset;
        margin: 0;
        right: unset;
        top: 75px;
      }
    }
    .modal-content {
      .modal-header {
        background-color: $dark-jungle-green;
        color: $white;
      }
      .btn-close {
        color: $white;
        opacity: 1;
      }
      .modal-body {
        background-color: $bright-grey;
        padding: 0;
        .cartItems {
          display: flex;
          align-items: center;
          background-color: $white;
          margin: pxToEm(16px) 0;
          .cartItems__ImageWrapper {
            width: 20%;
          }
          .cartItems__detailsWrapper {
            width: 80%;
            padding-left: pxToEm(16px);
            .cartItems__heading {
              font-family: $roboto-bold;
              margin-bottom: pxToEm(8px);
            }
            .cartItems__itemcount {
              button {
                background-color: $primary;
                color: $white;
                border-radius: 50%;
                border: none;
                font-family: $roboto-bold;
                font-size: $font-size-heading;
                width: pxToEm(32px);
                padding: 0;
              }
              span {
                margin: 0 pxToEm(16px);
                font-size: $font-size-large;
                &:last-child {
                  float: right;
                  font-size: $font-size-xxlarge;
                  margin-left: pxToEm(12px);
                }
              }
            }
          }
        }
        .cartItems__tagLine {
          display: flex;
          align-items: center;
          background-color: $white;
          padding: pxToEm(16px);
          margin: pxToEm(16px);
          span {
            padding-left: pxToEm(20px);
          }
        }
      }
      .modal-footer {
        .cartItems__promoCode {
          width: 100%;
          .cartItems__promoCodeMessage {
            text-align: center;
            margin-bottom: pxToEm(8px);
          }
          .cartItems__promoCodeButton {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: pxToEm(8px) pxToEm(16px);
            color: $white;
            background-color: $primary;
            border: none;
            .cartItems__promoCodeButtonPrice {
              &:after {
                content: " \003E";
                padding-left: pxToEm(4px);
              }
            }
          }
        }
      }
    }
  }
}
