$black: #000;
$white: #fff;
$primary: #be2857;
$grey: #ccc;
$grey--dark: #7f7f7f;
$antiflash-white: #f0f0f0;
$bright-grey: #eaeaea;
$philippine-gray: #929292;
$dark-jungle-green: #231F1D;
$DimGray: #696969;
$cyan: #8cd2d6;