@keyframes expand {
  from {
    transform: translateY(-280px);
  }
  to {
    transform: translateY(280px);
  }
}

@keyframes compress {
  from {
    transform: translateY(280px);
  }
  to {
    transform: translateY(-280px);
  }
}

@keyframes openArrowAfter {
  from {
    transform: rotate(-135deg);
  }
  to {
    transform: rotate(135deg);
  }
}

@keyframes openArrowBefore {
  from {
    transform: rotate(135deg);
  }
  to {
    transform: rotate(45deg);
  }
}